/*
body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
*/

/*FullCalenderの曜日の色指定*/
/* 日曜日 */
.fc-sun {     
    color: #e60000;
}
/* 土曜日 */
.fc-sat { 
    color: #0000FF;
}  
